body{
    background-color: aquamarine;
    text-align: center;
}

.Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.Choice{
    display: flex;
    gap:10px;
}
.Player{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Choice button{
    padding: 50px;
}